 body{
            
            background-color: rgb(38, 40, 150);
            margin: 20px;
        }
        h1{
            font-family: 'Times New Roman', Times, serif;
            color:#ffff;
            text-align: center;
            border-bottom: 2px;
            padding-bottom: 10px;
        

        }
        p{
            font-size: 20px;
            color: #ffff;
            text-align: center;
        }